<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>전산업무</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script> 
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
    <script th:src="@{/js/paging.js}"></script>
    <style type="text/css">
        .paging-nav {
          text-align: right;
          padding-top: 2px;
        }

        .paging-nav a {
          margin: auto 1px;
          text-decoration: none;
          display: inline-block;
          padding: 1px 7px;
          background: #343a40;
          color: white;
          border-radius: 3px;
        }

        .paging-nav .selected-page {
          background: #187ed5;
          font-weight: bold;
        }
    </style>
    <script>
      $(document).ready(function(){
        $("input:text[numberOnly]").on("keyup", function() {
            $(this).val($(this).val().replace(/[^0-9]/g,""));
        });
        $('#empFullList').paging({
          limit: 10,
          rowDisplayStyle: 'block',
          activePage: 0,
          rows: []
        });
      });
    </script>
  </head>
  <body>
    <div class="container">
      <h1>DBMS Test </h1>
      <h5>oracle > HR > EMPLOYEES</h3>
      <hr />
      <div class="card">
        <div class="card-header">
          <b>Name Search</b>
        </div>
        <div class="card-body">
          <form method="GET">
            <div class="form-group">
              <label for="exampleFormControlInput1" th:text="${name}"></label>
              <input
                class="form-control"
                id="exampleFormControlInput1"
                type="text" numberOnly
                name="employeeId"
                placeholder="아이디를 입력해 주세요."
                th:value="${employeeId}"
              />
            </div>
            <button type="submit" class="btn btn-primary">
              확인
            </button>
          </form>
        </div>
        <div class="card">
            <div class="card-header">
              <b>Full Data List</b>
            </div>
            <div class="card-body">
                <table class="table" id="empFullList">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">employeeId</th>
                        <th scope="col">firstName</th>
                        <th scope="col">lastName</th>
                        <th scope="col">email</th>
                        <th scope="col">hireDate</th>
                        <th scope="col">jobId</th>
                        <th scope="col">salary</th>
                        <th scope="col">commissionPct</th>
                        <th scope="col">managerId</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr th:each="item, num: ${empList}">
                        <th scope="row" th:text="${num.count}"></th>
                        <td th:text="${item.employeeId}"></td>
                        <td th:text="${item.firstName}"></td>
                        <td th:text="${item.lastName}"></td>
                        <td th:text="${item.email}"></td>
                        <td th:text="${#calendars.format(item.hireDate, 'yyyy-MM-dd')}"></td>
                        <td th:text="${item.jobId}"></td>
                        <td th:text="${#numbers.formatInteger(item.salary, 0, 'COMMA')}"></td>
                        <td th:text="${item.commissionPct}"></td>
                        <td th:text="${item.managerId}"></td>
                      </tr>
                    </tbody>
                  </table>
            </div>
      </div>
  </body>
</html>
